---
BasedOnStyle: Google
Language: Cpp
Standard: c++20
IndentWidth: 4
ColumnLimit: 120
DerivePointerAlignment: false
PointerAlignment: Left
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
IncludeBlocks: Preserve
SortIncludes: CaseSensitive
InsertNewlineAtEOF: true
